@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Oswald:wght@100..700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@font-face {
  font-family: 'MartinDisplayBold';
  src: url('../assets/fonts/VTCMartinDisplay-XBold.woff2') format('woff2'),
}

@font-face {
  font-family: 'MartinDisplayBoldForward';
  src: url('../assets/fonts/VTCMartinDisplay-XBoldForward.woff2') format('woff2'),
}

:root {
  --Anton: "Anton", sans-serif;
  --Antonio: "Antonio", sans-serif;
  --Bodoni:"Lato", sans-serif;
  --Oswald: "Oswald", sans-serif;
  --Background: rgba(170, 138, 82, 0.95);
  --Background-Alt: rgba(216, 182, 125, 0.95);
  --Background-Blue: rgba(100, 155, 146, 0.9);
  --Background-Blue-Alt: rgba(141, 211, 199, 0.9);
  --Background-Blue-Dark: rgba(72, 120, 112, 0.9);
  --Maroon: #730900;
  --Dark-Brown: #402e32;
  --calcite-color-text-3: white;
  --calcite-color-foreground-2: var(--Dark-Brown);
  --calcite-color-text-1: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: var(--Anton)
}

html,
body,
#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    position: relative;
}

.link {
    font-family: var(--Anton);
    color: var(--Dark-Brown);
    font-weight: 500;
    font-size: .85rem;
    transition: color .3s;
    letter-spacing: .05rem;
}

.link:hover {
    color: var(--Maroon);
}

/*Custom Scrollbar*/

::-webkit-scrollbar {
  width: .15rem;
}
  
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5rem;
}

/*End Custom Scrollbar*/

/*General toggle switch styling*/

.switch {
  position: relative;
  display: block;
  width: 33px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--Background);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 3px;
}

.slider:hover {
  box-shadow: 0px 1px 8px rgba(0,0,0,0.1) !important;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 3px;
}

input:checked + .slider {
  background-color: var(--Dark-Brown);
  border-radius: 3px;
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--Dark-Brown);
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/*End general toggle switch styling*/

/*Navbar*/

.navbar {
    width: 100%;
    height: 3.5rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(var(--Background), var(--Background-Alt));
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1rem 5rem rgb(0, 0, 0, 0.3);
}

.logo-title {
    transition: transform 0.3s;
}

.logo-title:hover {
    transform: translateY(-0.06rem);
}

.logo-title a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 3rem;
    width: 36rem;
}

.logo-title img {
    height: 2.3rem;
    -webkit-filter: drop-shadow(.5rem .5rem .5rem #000);
    filter: drop-shadow(.5rem .5rem .5rem #000);
}

.navbar a p {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2.5rem;
    text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    color: var(--Dark-Brown);
    letter-spacing: .05rem;
    display: flex;
    align-items: center;
    font-family: 'MartinDisplayBold', Fallback, sans-serif;
}

.navbar a span {
    /* text-transform: uppercase; */
    font-weight: 200;
    font-size: 1.8rem;
    text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    color: var(--Dark-Brown);
    font-family: var(--Antonio);
    /* letter-spacing: .1rem; */
    padding-left: .7rem;
    padding-bottom: .25rem;
}

.nav-items {
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-right: 3rem;
}

.nav-item {
    transition: all 0.3s;
}

.nav-item:hover {
    transform: translateY(-0.09rem);
}

.nav-link {
    font-family: var(--Bodoni);
    color: var(--Dark-Brown);
    font-weight: 500;
    font-size: 1.1rem;
    text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    transition: color 0.3s;
}

/*End Navbar*/

/*Side Panel Buttons Container*/

.left-panel-btn-container {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    width: 6rem;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right-panel-btn-container {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    width: 9.5rem;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*Zoom In / Out Button*/

.zoom-in-btn,
.zoom-out-btn {
    /* position: absolute; */
    bottom: 4rem;
    right: 4rem;
    z-index: 2
}

.zoom-in-btn,
.zoom-out-btn {
    cursor: pointer;
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* bottom: 2rem;
    left:2rem; */
    height:2.5rem;
    width:2.5rem;
    border-radius: 50%;
    background-color: var(--Background-Blue);
    box-shadow: 0 1rem 5rem rgb(0, 0, 0, 0.6);
    transition: all .3s;
    z-index: 2;
}

.zoom-in-btn i,
.zoom-out-btn i {
    font-size: 1.3rem;
    color: #fff;
}

.zoom-in-btn:hover,
.zoom-out-btn:hover {
    background-color: var(--Dark-Brown) !important;
    transform: translateY(-0.09rem);
}

/* Style Compass Widget Icon */

.esri-widget--button {
    z-index: 1;
    height: 2.5rem;
    width: 2.5rem;
    background-color: var(--Background-Blue);
    transition: all .3s;
}

.esri-widget--button:hover {
    transform: translateY(-0.09rem);
}

.esri-widget--button .interaction-container:hover {
    background-color: var(--Dark-Brown) !important;
}

.esri-compass:hover {
    color: var(--Dark-Brown) !important;
}

/*Splash Page*/

.splash-container {
    background-image: url("../assets/images/RC_Aerial_2.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
}

.splash-inner {
    width: 50rem;
    height: auto;
    background: linear-gradient(var(--Background), var(--Background-Alt));
    padding: 1.5rem;
    border-radius: .5rem;
}

.splash-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 27rem;
}

.splash-title img {
    height: 2.3rem;
    -webkit-filter: drop-shadow(.5rem .5rem .5rem #000);
    filter: drop-shadow(.5rem .5rem .5rem #000);
}

.splash-title-text {
    display: flex;
    align-items: center ;
    justify-content: space-evenly;
}

.splash-title-text p:nth-of-type(1) {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.6rem;
    text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    color: var(--Dark-Brown);
    font-family: var(--Anton);
    letter-spacing: .15rem;
}

.splash-title-text p:nth-of-type(2) {
    font-weight: 100;
    font-size: 1.5rem;
    text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    color: var(--Dark-Brown);
    font-family: var(--Antonio);
    padding-left:.5rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    padding-bottom: .245rem;
}


/*Adjust splash paragraph text font weight*/

.splash-inner p {
    font-weight: 500 !important;
}

/*End font weight adjustment*/

.splash-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height:2rem;
    width:10rem;
    border-radius: .5rem;
    background-color: var(--Background);
    transition: all .3s;
    z-index: 2;
    border:none;
    color: #fff;
    font-family: var(--Bodoni);
    font-size: .8rem;
}

.splash-btn:hover {
    background-color: var(--Background);
    transform: translateY(-0.05rem);
}

/* Loading / Loaded Button Text */

.splash-loading-text {
    display: flex;
}

.splash-loaded-text {
    display: none;
}

/* Loading Ellipses for Splash Button*/

.spinner {
  margin-left: .3rem;
  padding-top: .3rem;
  width: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.spinner > div {
  width: .3rem;
  height: .3rem;
  background-color: #fff;
  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 1.2s infinite ease-in-out both;
}
.spinner .bounce1 {
  animation-delay: -0.4s;
}
.spinner .bounce2 {
  animation-delay: -0.2s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

/*End Splash Page*/

/*Timeline Container*/

.timeline {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    height: auto;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}

.timeline.show {
    opacity: 1;

}

.timeline-container {
    width: 50%;
    height: 6rem;
    background-color: rgb(0, 0, 0, 0.3);
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

#progressContainer {
    width: 100%;
    height: 20px;
    background: #eee;
    /* border: 0px solid #ccc; */
    margin-top: 5px;
    border-radius: .5rem;
}

#progressBar {
    width: 0%;
    height: 100%;
    background-color: var(--Dark-Brown);
    border-radius: .5rem;
}

.timeline-buttons-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: .5rem;
}

.timeline-buttons {
    width: 14rem;
    display: flex;
    justify-content: space-between;
}

.timeline-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height:2rem;
    width:4rem;
    border-radius: .5rem;
    background-color: var(--Dark-Brown);
    transition: all .3s;
    z-index: 2;
    border:none;
    color: #eee;
    font-family: var(--Bodoni);
    font-size: .8rem;
    pointer-events: all;
}

.timeline-btn:hover {
    background-color: var(--Background);
    transform: translateY(-0.05rem);
}

.timeline-date {
    display: flex;
    align-items: center;
}

.timeline-date p {
    font-size: 1.5rem;
    color: #eee;
    letter-spacing: .04rem;
}

/*End Timeline Container*/

/*Side Panel Button*/

.panel-button {
    position: absolute;
    bottom: 4rem;
    right: 4rem;
    z-index: 2
}

.panel-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height:2.5rem;
    width:2.5rem;
    border-radius: 50%;
    background-color: var(--Background-Blue);
    box-shadow: 0 1rem 5rem rgb(0, 0, 0, 0.6);
    transition: all .3s;
    z-index: 2;
}

.panel-btn i {
    font-size: 1.3rem;
    color: #fff;
}

.panel-btn:hover {
    background-color: var(--Dark-Brown) !important;
    transform: translateY(-0.09rem);
}

.panel-btn.on {
    background-color: var(--Dark-Brown);
}

/*Side Panel*/

.side-panel {
    position: fixed;
    top: 5rem;
    left: -26rem;
    height: auto;
    max-height: 80%;
    width: 25rem;
    background: linear-gradient(var(--Background-Blue), var(--Background-Blue-Alt));
    z-index: 2;
    border-radius: 0 .25rem .25rem 0;
    box-shadow: 0 1rem 3rem rgb(0, 0, 0, 0.3);
    padding: 1rem;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.side-panel.on {
    left: 0;
}

.title-close {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-logo {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.title-logo img {
    height: 1.7rem;
}

.title-close i {
    font-size: 1.2rem;
    color: var(--Dark-Brown);
    cursor: pointer;
    transition: all 0.3s;
}

.title-close i:hover {
    color: var(--Background);
    transform: translateY(-0.09rem);
}

.side-panel-text,
.help-panel-text {
    width: 100%;
    max-height: 91%;
    overflow-y: auto;
    padding-right: 1rem;
}

.panel-line {
    width: 100%;
    height: 2px;
    background-color: var(--Maroon);
    margin: .5rem 0;
    opacity: 0.7;
    border-radius: 99px;
}

.title-close h3,
.modal-inner h3,
.splash-inner h3 {
    color: var(--Dark-Brown);
    letter-spacing: .15rem;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.side-panel-text p,
.modal-inner p,
.help-panel p,
.splash-inner p,
.model-transcript-text p,
#img-caption {
    font-family: var(--Bodoni);
    font-size: .9rem;
    color: var(--Dark-Brown);
    margin: .75rem 0;
    font-weight: 400;
    line-height: 1.35rem;
    letter-spacing: .02rem;
}

.controls {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.controls > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controls > div p {
    font-weight: 600;
    margin: .2rem 0 .2rem 0;
}

/*End Side Panel*/

/*About Panel*/

.help-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height:2.5rem;
    width:2.5rem;
    border-radius: 50%;
    background-color: var(--Background-Blue);
    box-shadow: 0 1rem 5rem rgb(0, 0, 0, 0.6);
    transition: all .3s;
    z-index: 2;
}

.help-btn i {
    font-size: 1.3rem;
    color: #fff;
}

.help-btn:hover {
    background-color: var(--Dark-Brown);
    transform: translateY(-0.09rem);
}

.help-btn.on {
    background-color: var(--Dark-Brown);
}

.help-panel {
    position: fixed;
    top: 5rem;
    right: -26rem;
    height: 80%;
    width: 25rem;
    background: linear-gradient(var(--Background-Blue), var(--Background-Blue-Alt));
    z-index: 2;
    border-radius: .25rem 0 0 .25rem;
    box-shadow: 0 1rem 3rem rgb(0, 0, 0, 0.3);
    padding: 1rem;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.help-panel.on {
    right: 0;
}

/***End About Panel***/

/***About Modal***/

.modal-container {
    background-color: rgba(0, 0, 0, 0.2);
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    position: absolute;
    display: none;
}

.modal-inner {
    width: 50rem;
    /* height: 30rem; */
    height: auto;
    background: linear-gradient(var(--Background-Blue), var(--Background-Blue-Alt));
    padding: 1.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    border-radius: .5rem;
}

.modal-close {
    color: var(--Dark-Brown);
    font-size: 1.5rem;
    position: absolute;
    top: .5rem;
    right: 1rem;
    transition: all 0.3s;
}

.modal-close:hover {
    transform: translateY(-0.09rem);
    color: var(--Background) 
}

.modal-inner img {
    width: 100%;
    margin-top: 1.5rem;
    border-radius: .5rem;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
}

/***End About Modal***/

/***General Popup Styling***/

.popup {
    display: none;
    /* flex-direction: column;
    align-items: center; */
    width: 500px;
    max-height: 80%;
    background: linear-gradient(var(--Background-Blue), var(--Background-Blue-Alt));
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position: absolute;
    top: 80px;
    right: 25px;
    z-index: 2;
    border-radius: .5rem;
    padding: 20px;
}

.popup-container {
    overflow-y: auto;
}

.popup img {
    width: 100%;
    border-radius: .25rem;
    cursor: pointer;
    object-fit: cover;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
    transition: opacity 900ms;
}

.popup img:hover {
    opacity: 0.85;
}

.popup-text {
    font-family: var(--Bodoni);
    font-size: .9rem;
    font-weight: 400;
    color: var(--Dark-Brown);
    line-height: 1.35rem;
    letter-spacing: .02rem;
    padding-top: .3rem;
} */

/*.popup .panel-line {
    margin: 0;
}

.article {
    font-family: var(--Anton);
    color: var(--Dark-Brown);
    letter-spacing: .2rem;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    padding: .5rem 0;
    text-transform: uppercase;
}

.article-container {
    display: flex;
    justify-content: center;
}

.newspaper {
    font-family: var(--Bodoni);
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--Dark-Brown);
    padding: .5rem 0;
}

.place,
.date {
    font-family: var(--Bodoni);
    font-size: 1rem;
    font-weight: 600;
    color: var(--Dark-Brown);
    padding-bottom: .15rem;
}

.place-date-container {
    display: flex;
}

/***End General Popup Styling***/
